@media screen and (min-width: 769px),
print .columns:not(.is-desktop) {
    display: flex;
}

.columns.is-mobile {
    display: flex;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.bd-notification {
    background-color: #f5f5f5;
    border-radius: .375em;
    color: #7a7a7a;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
}

.bd-notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.bd-snippet-preview {
    padding-bottom: var(--snippet-spacing);
    padding-top: var(--snippet-spacing);
}

.bd-snippet-code,
.bd-snippet-preview {
    position: relative;
}

.bd-snippet {
    --snippet-spacing: 1.5rem;
    font-size: 1rem;
    grid-gap: calc(2 * var(--snippet-spacing));
    position: relative;
}

.box {
    background-color: powderblue;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.field:not(:last-child) {
    margin-bottom: .75rem;
}

.label:not(:last-child) {
    margin-bottom: .5em;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
}

.input,
.textarea {
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
}

.input,
.select select,
.textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: .375em;
    color: #363636;
}

.fa-angle-down:before {
    content: "\f107";
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}

div {
    display: block;
}

.bd-snippet {
    --snippet-spacing: 1.5rem;
    font-size: 1rem;
    grid-gap: calc(2 * var(--snippet-spacing));
    position: relative;
}