
.bd-notification {
    background-color: #f5f5f5;
    border-radius: .375em;
    color: #7a7a7a;
    font-weight: 600;
    padding: 1.25rem 0;
    position: relative;
    text-align: center;
}

.bd-notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.bd-snippet-preview {
    padding-bottom: var(--snippet-spacing);
    padding-top: var(--snippet-spacing);
}

.bd-snippet-code,
.bd-snippet-preview {
    position: relative;
}

.bd-snippet {
    --snippet-spacing: 1.5rem;
    font-size: 1rem;
    grid-gap: calc(2 * var(--snippet-spacing));
    position: relative;
}

.bd-snippet {
    --snippet-spacing: 1.5rem;
    font-size: 1rem;
    grid-gap: calc(2 * var(--snippet-spacing));
    position: relative;
}